<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
       http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

    <!--打开注解映射 -->
    <mvc:annotation-driven>
        <mvc:message-converters register-defaults="true">
            <bean class="org.springframework.http.converter.StringHttpMessageConverter">
                <property name="writeAcceptCharset" value="false"/>
                <property name="supportedMediaTypes">
                    <list>
                        <value>text/html;charset=UTF-8</value>
                    </list>
                </property>
                <constructor-arg value="UTF-8"/>
            </bean>
        </mvc:message-converters>
    </mvc:annotation-driven>

    <context:annotation-config/>


    <!--声明controller-->
    <context:component-scan base-package="com.money.controller">
        <context:include-filter type="annotation"
                                expression="org.springframework.stereotype.Controller"/>
    </context:component-scan>

    <context:component-scan base-package="until">
        <context:include-filter type="annotation"
                                expression="org.springframework.stereotype.Component"/>
    </context:component-scan>

    <context:component-scan base-package="com.money.dao">
        <context:include-filter type="annotation"
                                expression="org.springframework.stereotype.Repository"/>
    </context:component-scan>

    <context:component-scan base-package="com.money.Service">
        <context:include-filter type="annotation"
                                expression="org.springframework.stereotype.Service"/>
    </context:component-scan>


    <!-- 读取配置文件 生产环境 -->
    <bean id="propertyConfigurer" class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <property name="locations">
            <list>
                <value>WEB-INF/classes/conf/redis.properties</value>
                <value>WEB-INF/classes/conf/dataSource.properties</value>
            </list>
        </property>
    </bean>

    <!--配置文件 生产环境-->
    <import resource="classes/xml/Spring-db-config.xml"/>
    <import resource="classes/xml/Spring-MQ-Config.xml"/>
    <import resource="classes/xml/Spring-Redis-Config.xml"/>
    <import resource="classes/xml/Spring-Service-Config.xml"/>
    <import resource="classes/xml/Spring-Quartz-Config.xml"/>

     <!--读取配置文件  测试环境-->
<!--    <bean id="propertyConfigurer" class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <property name="locations">
            <list>
                <value>WEB-INF/classes/Test/conf/redis.properties</value>
                <value>WEB-INF/classes/Test/conf/dataSource.properties</value>
            </list>
        </property>
    </bean>

    &lt;!&ndash;配置文件 测试环境&ndash;&gt;
    <import resource="classes/Test/xml/Spring-*.xml"/>-->

</beans>